table {
  width: 100%;
  margin-top: 20px;
  overflow: scroll;
  color: yellow;
  padding: 4px;
  tr {
    padding: 4px;
    th {
      height: 40px;
      text-align: left;
      border-bottom: 1px solid white;
    }
    td {
      height: 40px;
    }
  }
}
