<div class="main">
  <div class="country-container">
    <h2 id="countryName" class="observable"></h2>
    <button class="btn-view btn1-view" (click)="changeView()">Change View</button>
  </div>


  <div id="globalArea" class="globe-container"> </div>

  <div class="data-container">
    <h3 class="data__country-name" id="countryNameList">
      Select a country
    </h3>
    <ul id="citiesList" class="list"></ul>
  </div>
  <app-table [countryData]="countryData"></app-table>
  <app-chart [countryData]="countryData"></app-chart>
  <div class="buttnos-container">
    <div class="buttons">
      <button class="btn btn--red" data-line-group="red">Red</button>
      <button class="btn btn--blue" data-line-group="blue">Blue</button>
      <button class="btn btn--yellow" data-line-group="yellow">Grey</button>
      <button class="btn btn--white" data-line-group="white">White</button>
      <button class="btn btn--orange" data-line-group="orange">Orange</button>
    </div>
  </div>
</div>


<router-outlet>Loading...</router-outlet>
